:root {

			--verydark-bg: #3b3b3b;
			--dark-bg: #444444;
			--light-bg: #eeeeee;
			--verylight-bg: #ffffff;

			--verydark-bg: #444444;
			--dark-bg: #415866;

			--verydark-text: #000000;
			--dark-text: #333333;
			--light-text: #eeeeee;
			--verylight-text: #ffffff;

			--light-line: #ffffff;	
			--dark-line: #eeeeee;

			--dark-header: #000000;

			--max-width: 1600px;

		}

		/*** Default Styles ***/
		html {
			scroll-behavior: smooth;
		}
		body{
			font-family: Montserrat, sans-serif;
			margin: 0;
			padding: 0;
			max-width: var(--max-width);
			margin: 0 auto;
			background-image: url("../image/background.jpg");
			background-size: cover;
			background-position: 50% 50%;
			background-attachment: fixed;
		}
		}
		h4 {
			text-align: justify;
		}

		p {
			
			font-size: 100%;
			text-align: justify-center;
			padding: 0;

		}
		a { color: inherit; } 

		blockquote {
			font-size: 18px;
			font-family: 'Dancing Script', serif;
			padding: 8px;
			margin: 5px;
			background-image: url("../image/openquote.gif");
			background-position: top left;
			background-repeat: no-repeat;
			text-indent: 25px;
			}
			blockquote span {
				display: block;
				background-image: url("../image/closequote.gif");
				background-repeat: no-repeat;
				background-position: bottom right;
			}

		/*** Navigation Styles ***/
		nav{

			max-width: var(--max-width);

			margin: 0 auto;
			top: 0;
			position: fixed;

			padding: 0;

			width: 100%;

			display: grid;
			grid-template: 
			"logo mark menu-toggle" 64px
			"menu-list menu-list menu-list" 1fr
			/ 64px auto 64px;

			z-index: 1;

		}

		nav .logo {
			grid-area:logo;
			cursor: pointer;
			background-image: url("https://via.placeholder.com/64x64/415866");
		}

		nav .logo img{
			width: 100%;
		}

		nav .mark {
			grid-area:mark;
			align-items:center;
			justify-content: start;
			padding-left: 20px;
			display: flex;
			color: var(--dark-text);
			font-size: 1.8rem;
			background-color: var(--light-bg);
		}

		nav .menu-toggle {
			grid-area:menu-toggle;

			display: grid;
			align-content:center;
			justify-content: end;
			padding-right: 20px;
			background-color: var(--light-bg);
		}

		nav .menu-list {
			grid-area:menu-list;
			display: none;
		}

		nav .menu-list.showMenu{
			display: grid;
		}

		nav .menu-list ul{
			background-color: var(--light-bg);
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		nav .menu-list li:hover{
			border-bottom: 1px solid var(--dark-text);
		}
		nav .menu-list li{
			padding: 10px;
			border-bottom: 1px solid var(--light-bg);;
		}

		nav .menu-list a{
			text-decoration: none;
			color: var(--dark-text);
		} 

		/*** fa Styles ***/
		.fa {
			font-size: 64px;
			text-align: center;
			text-decoration: none;
		}
		.fa:hover {
			opacity: 0.9;
		}

		.fa-bars{
			padding: 0px;
			font-size: 30px;
			text-decoration: none;
			color: var(--dark-text);;

		}

		/*** Section Styles ***/
		section{
			padding-top: 64px;
			padding-bottom: 64px;
			margin: 0 auto;
			width: 100%;
			min-height: 20vh;
		}

		#hero{
			margin-top: 64px;
			background-image: url("https://www.urlaubsguru.de/wp-content/uploads/2015/12/scenery-old-venetian-port-crete-greece-istock_28077230_xlarge-2-707x476.jpg");
			background-size: cover;
			background-position: 50% 72%;
			/*background-attachment: fixed;*/
			height: 720px;
		}

		/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
		/*Home*/
		/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
		#home {
			background-color: var(--verylight-bg);
			color: var(--dark-text);
			min-height: 20vh;
		}

		#home .page{
			display: grid;
			grid-template:
				"heading"
				"presentation"
				/ 1fr;
			
			grid-row-gap:1em;
			justify-items:center;
		}

		#home .heading {grid-area:heading;}

		#home .presentation{
			grid-area:presentation;
			display: grid;
			padding: 0 20px;
		}

		#home strong{
			font-size: 150%;
			color:lightblue;
		}

		/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
		/*Concept*/
		/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
		#concept {
			background-color: var(--light-bg);
			color: var(--verydark-text);
		}

		#concept .box h2{
			color: lightblue; 
		}
		#concept .page {
			display: grid;
			grid-template:
				"heading"
				"c1" 
				"c2" 
				"c3"
				"c4"
				"c5"
				/ 1fr;
			
			grid-row-gap:1em;
			justify-items:center;
		}

		#concept .heading {grid-area:heading;}
		#concept .c1 {grid-area:c1;}
		#concept .c2 {grid-area:c2;}
		#concept .c3 {grid-area:c3;}
		#concept .c4 {grid-area:c4;}
		#concept .c5 {grid-area:c5;}

		#concept img{
			height: 200px;
			width: 100%;

		}

		#concept .text-concept{
				margin:0px 20px;
		}


		#concept .box-concept{
			background-color: var(--verylight-bg);
			color: var(--verydark-text);

			padding:0px;
			display: grid;
			grid-template:
			 "img" 200px
			 "content" auto;
			grid-template-columns:minmax(auto,400px);
			justify-content:center;
			justify-self:center;

			overflow: hidden;

			-moz-transition: all 0.5s ease-out;
			-webkit-transition: all 0.5s ease-out;;
			transition: all 0.5s ease-out;;

		}

		#concept .box-concept:hover{
			-moz-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			transform: scale(1.05);
		}

		/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
		/*program*/
		/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

		#program {
			background-color: var(--dark-bg);
			color: var(--light-text);
			justify-items:center;
		}

		#program .page {
			display: grid;
			grid-template:
				"heading"
				"slider"
				/ 1fr;
		}
		#program .heading {grid-area:heading;}
		#program .slider {grid-area:slider;}

		#program .wrapper {
			grid-area:slider;
			margin: 1em auto;
			position: relative;
		}
		#program input {
			display: none;
		}
		#program .inner {
			width: 500%;
			line-height: 0;
		}
		#program article {
			width: 20%;
			float: left;
			position: relative;
		}
		#program article img {
			width: 100%;
		}
		#program .slider-prev-next-control {
			height: 50px;
			position: absolute;
			top: 50%;
			width: 100%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		#program .slider-prev-next-control label {
			display: none;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: #fff;
			opacity: 0.7;
		}
		#program .slider-prev-next-control label:hover {
			opacity: 1;
		}
		#program .slider-dot-control {
			position: absolute;
			width: 100%;
			bottom: 0;
			text-align: center;
		}
		#program .slider-dot-control label {
			cursor: pointer;
			border-radius: 5px;
			display: inline-block;
			width: 10px;
			height: 10px;
			background: #bbb;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}
		#program .slider-dot-control label:hover {
			background: #ccc;
			border-color: #777;
		}
		#program .info {
			position: absolute;
			font-style: italic;
			line-height: 20px;
			opacity: 0;
			color: #000;
			text-align: left;
			-webkit-transition: all 2000ms ease-out 600ms;
			-moz-transition: all 2000ms ease-out 600ms;
			transition: all 2000ms ease-out 600ms;
		}
		#program .info h3 {
			color: #fcfff4;
			margin: 0 0 5px;
			font-weight: normal;
			font-size: 1.5em;
			font-style: normal;
		}
		#program .info.top-left {
			top: 30px;
			left: 30px;
		}
		#program .info.top-right {
			top: 30px;
			right: 30px;
		}
		#program .info.bottom-left {
			bottom: 30px;
			left: 30px;
		}
		#program .info.bottom-right {
			bottom: 30px;
			right: 30px;
		}
		#program .slider-wrapper {
			width: 75%;
			margin: 0 auto;
			overflow: hidden;
			border-radius: 5px;
			box-shadow: 1px 1px 4px #666;
			background: #fff;
			background: #fcfff4;
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-transition: all 1500ms ease-out;
			-moz-transition: all 1500ms ease-out;
			transition: all 1500ms ease-out;
		}
		#program .slider-wrapper .inner {
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
			-moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
			transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
		}
		#program #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #program #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #program #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #program #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #program #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #program #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #program #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #program #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #program #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #program #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			margin: 0;
			line-height: 38px;
			font-size: 3em;
			display: block;
			color: #777;
		}
		#program #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #program #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #program #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #program #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #program #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
			content: "\f105";
			padding-left: 15px;
		}
		#program #slide1:checked ~ .slider-prev-next-control label:nth-child(2), #program #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #program #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #program #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #program #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
			display: block;
			float: right;
			margin-right: 5px;
		}
		#program #slide2:checked ~ .slider-prev-next-control label:nth-child(1), #program #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #program #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #program #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #program #slide1:checked ~ .slider-prev-next-control label:nth-child(5) {
			display: block;
			float: left;
			margin-left: 5px;
		}
		#program #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #program #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #program #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #program #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #program #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
			content: "\f104";
			padding-left: 8px;
		}
		#program #slide1:checked ~ .slider-dot-control label:nth-child(1), #program #slide2:checked ~ .slider-dot-control label:nth-child(2), #program #slide3:checked ~ .slider-dot-control label:nth-child(3), #program #slide4:checked ~ .slider-dot-control label:nth-child(4), #program #slide5:checked ~ .slider-dot-control label:nth-child(5) {
			background: #333;
		}
		#program #slide1:checked ~ .slider-wrapper article:nth-child(1) .info, #program #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #program #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #program #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, #program #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
			opacity: 1;
		}
		#program #slide1:checked ~ .slider-wrapper .inner {
			margin-left: 0%;
		}
		#program #slide2:checked ~ .slider-wrapper .inner {
			margin-left: -100%;
		}
		#program #slide3:checked ~ .slider-wrapper .inner {
			margin-left: -200%;
		}
		#program #slide4:checked ~ .slider-wrapper .inner {
			margin-left: -300%;
		}
		#program #slide5:checked ~ .slider-wrapper .inner {
			margin-left: -400%;
		}
		@media only screen and (max-width: 850px) and (min-width: 450px) {
			#program .slider-wrapper {
				border-radius: 0;
			}
		}
		@media only screen and (max-width: 450px) {
			#program .slider-wrapper {
				border-radius: 0;
			}
			#program .slider-wrapper .info {
				opacity: 0;
			}
		}
		@media only screen and (min-width: 850px) {
			#program body {
				padding: 0 80px;
			}
		}

		/*Team*/
		#team {
			background-color: var(--verylight-bg);
			color: var(--dark-text);
			justify-items:center;
		}

		#team .page {
			display: grid;
			grid-template:
				"heading"
				"ulla"
				"helga" 

				/ 1fr;
		}
		#team .heading {grid-area:heading;}
		#team .helga {grid-area:helga;}
		#team .ulla {grid-area:ulla;}

		#team .box {
			padding: 10px;
			background-color: var(--verylight-bg);
			text-align: center;
		}

		
		#team img{
			margin-top: 20px;
			border-radius: 100%;
			width: 300px;
		}

		#team h3{
			font-weight: 700;
			color: var(--dark-text);
		}

		#team .description p{
			text-align: center;
			padding: 20px;
		}


		/*Price*/

		#price{
			background-color: var(--light-bg);
			color: var(--dark-text);
			justify-items:center;
		}
		#price .page{
			display: grid;
			grid-template:
				"heading"
				"price" 
				/ 1fr;  
		}

		#price .heading {grid-area:heading;}
		#price .price {grid-area:price;}

		/*Contact*/

		#contact{
			background-color: var(--dark-bg);
			color: var(--verylight-text);
			
		}
		#contact .page{
			display: grid;
			grid-template:
				"heading"
				"bureau"
				"phone"
				"email"
				"form"
				/ 1fr; 
			justify-items:center;
		}

		#contact .heading {grid-area:heading;}
		#contact .bureau {grid-area:bureau;}
		#contact .email {grid-area:email;}
		#contact .phone {grid-area:phone;}

		#contact .form {
			grid-area:form;
			width: 90%;
			margin: 0;
			justify-items:center;
		
			background: var(--dark-bg);
			display: grid;
			grid-template:
				"name"
				"email"
				"message"
				"button"
				/ 1fr; 

			position: relative;
			padding:5px;

			justify-items:center;

		}

		#contact .form .name {grid-area:name;}
		#contact .form .email {grid-area:email;}
		#contact .form .message {grid-area:message;}
		#contact .form .button {grid-area:button; justify-self: end;}

		#contact .form textarea {
			height: 150px;
		}

		#contact .form .field {
			border: none;
			border-bottom: solid 1px var(--verylight-text);
			background: transparent;
			color: var(--verylight-text);
			font-size: 100%;
			min-height: 15px;
			width: 90%;
			padding: 10px;
		}

		#contact .form button {

			border: none;
			margin-top: 5px;
			margin-right: 50px;
			font-size: 100%;
			background: transparent;
			color:var(--light-text);
			
		}

		#contact .form button:hover {

			color:var(--verylight-text);
			
		}

		#contact .form button:clear {

			color: green;
			
		}

		#contact .box{
			padding: 10px;
			text-align: center;
			display: grid;
		}
		#contact .box i{ 
			align-self: end;

		}
		#contact .box p{ 
			align-self: start;

		}
		
		footer{
			background: var(--verydark-bg);
			color: var(--light-text);
			text-align: center;
			padding: 20px;
			min-height: 30px;
		}

		/* Small devices*/
		@media only screen and (min-width: 576px) {

			#program .box ul{
				border-radius: 5px;
			}
			#program .content ul li:first-child {
				border-radius: 5px 5px 0px 0px;
			}
			#program .content ul li:last-child {
				border-radius: 0px 0px 5px 5px;
			}

			#team .box {
				border-radius: 5px;
				margin: 10px;
				max-width: 400px;
			}

		}

		/* Medium devices*/
		@media only screen and (min-width: 768px) {

			nav {
				grid-template: 
					"logo mark menu-list" 64px
					/ 64px 210px auto;
			}

			nav .menu-list {

				grid-area:menu-list;
				background: var(--light-bg);
				display: flex;
				justify-content: flex-end;
			}

			nav .menu-list ul{
				display: flex;
				align-items:center;
			}

			nav .menu-toggle {
				display: none;
			}

			#concept {
				grid-template:
					"heading heading" auto
					"c1 c2" auto
					"c3 c4" auto
					"c5 c6" auto
					/ 1fr 1fr;
			}

			#concept .box{
				margin:20px;
				padding:0px;
			}

			
			#program {
				grid-template:
					"slider" auto
					/ 1fr;
			}

			
			#team .page{
				grid-template:
					"heading heading"
					"ulla helga"
					/ 1fr 1fr;
			}

			#team .box{
				margin:20px;
				padding:20px;
			}

			#contact .page {	
				grid-template:
					"heading heading"
					"phone email"
					"form bureau"
					/ 1fr 1fr;
			}


			#contact .form .field {
				height: 15px;
				margin: 5px;
				max-width: 300px;
			}

			#contact .form .message {
				height: 100px;
			}

		}

		/* Large devices*/
		@media only screen and (min-width: 992px){

/*      #impression .content{
				grid-template-columns: repeat(2,1fr) ;
			}
*/
			#concept .page{
				grid-template:
					"heading heading heading"
					"c1 c2 c3"
					"c4 c5 ."
					/ 1fr 1fr 1fr;
			}

			#contact .form .field {
				max-width: 300px;
			}
		
		}

		/* Extra Large devices*/
		@media only screen and (min-width: 1200px) {

/*      #impression .content{
				grid-template-columns: repeat(3,1fr) ;
			}
*/
}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 64px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #4286f4;
    color: #FFF;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
    float: right;
    margin: 15px 20px 0px 0px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/
		} 